#cuerpo{
  background-color: #69C7AC;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}


*{
  margin: 0;
  padding: 0;
}

.hola{
  background-color: aliceblue;
  box-sizing: border-box;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 3%;
 right: 3%;
 border-radius: 10px;
}

.princi{
  left: 66%;
}

/* .div2{} */

.img1{
  width: 10%;
}

.texto1{
  color: rgb(46, 105, 194);
  font-size: 90;
}

.texto2{
  color: rgb(46, 105, 194);
  font-size: 60;
}

.texto3{
  color: aqua;
}

.contac{
  display: flex;
  justify-content: center;
  align-items: center;
}

.h6{
  color: green;
}

